<html>
  <head th:include="head">

  </head>
  <body>
    <div class="ui container">
      <div class="ui grid">
        <div class="row">
          <div class="ui hidden divider"></div>
        </div>
        <div class="three wide column">

          <div th:include="menu"></div>
        </div>

        <div class="ten wide column centered">
          <h1 class="ui header" th:text="${smartList.name}"/>

          <div class="ui right floated buttons">
            <a th:href="@{/smartLists/{smartListId}/extract(smartListId=${smartList.id})}" class="ui primary icon button" data-turbolinks="false">
              <i class="ui icon file excel outline"/>
            </a>
            <a th:href="@{/smartLists/{smartListId}/edit(smartListId=${smartList.id})}">
              <div class="ui default icon button">
                <i class="ui icon write"/>
              </div>
            </a>
            <a th:href="@{/smartLists/{smartListId}/delete(smartListId=${smartList.id})}"  data-turbolinks="false">
              <div class="ui negative icon button">
                <i class="ui icon trash"/>
              </div>
            </a>
          </div>


          <h3 class="ui header">
            <span th:text="${matchingContacts.size()} "></span>
            Members
          </h3>

            <div class="ui list">
              <div class="item" th:each="contact : ${matchingContacts}">
                <img class="ui avatar image" style="height: 50px; width: 50px" th:with="url=${#strings.defaultString(contact.avatar_url, '/assets/images/avatars/default.png')}" th:src="@{${url}}" />
                <div class="content">
                  <a th:if="${contact.type_organization}" th:href="@{/contacts/{contactId}/show(contactId=${contact.id})}" th:text="${contact.organization_name}"></a>
                  <a th:unless="${contact.type_organization}" class="header" th:href="@{/contacts/{contactId}/show(contactId=${contact.id})}">
                    <span th:text="${contact.firstname}"></span>&nbsp;
                    <span th:text="${contact.lastname}"></span>
                  </a>
                </div>
              </div>
            </div>

        </div>



      </div>
    </div>
  </body>
</html>
