<html>
  <head th:include="head">

  </head>
  <body>
    <div class="ui container">
      <div class="ui grid">
        <div class="row">
          <div class="ui hidden divider"></div>
        </div>
        <div class="three wide column">

          <div th:include="menu"></div>
        </div>

        <div class="ten wide column centered">
          <div  th:if="${#lists.isEmpty(contacts)}" class="ui center aligned container">
            <div class="ui disabled">No contacts yet.</div>
            <br/>
            <a href="/contacts/new">Add one now</a>
          </div>
          <div class="ui list">
            <div class="item" th:each="contact : ${contacts}">
              <img class="ui avatar image" style="height: 50px; width: 50px" th:with="url=${#strings.defaultString(contact.avatar_url, '/assets/images/avatars/default.png')}" th:src="@{${url}}" />
              <div class="content">
                <a th:if="${contact.type_organization}" th:href="@{/contacts/{contactId}/show(contactId=${contact.id})}" th:text="${contact.organization_name}"></a>
                <a th:unless="${contact.type_organization}" class="header" th:href="@{/contacts/{contactId}/show(contactId=${contact.id})}">
                  <span th:text="${contact.firstname}"></span>&nbsp;
                  <span th:text="${contact.lastname}"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
