<div>
  <div class="ui vertical menu">
    <a class="active teal item" href="/contacts/new">
      <i class="icon plus"/> Add contact
    </a>

    <a class="teal item" href="/lists/list">
      <i class="icon browser"/>Lists
    </a>


    <div class="item">
      <div class="ui transparent icon input">
        <form action="/contacts/search" method="POST" name="search">
          <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" id="query" name="query" placeholder="Search contact..."/>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
