<div>
  <div class="ui vertical menu">
    <a class="active teal item" href="/contacts/new">
      <i class="icon plus"/> Add contact
    </a>

    <div class="item">
      <div class="ui transparent icon input">
        <form action="/contacts/search" method="POST" name="search">
          <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" id="query" name="query" placeholder="Search contact..."/>
          </div>
        </form>
      </div>
    </div>

    <div class="item">
      Simple Lists
      <a th:href="@{/lists/new}">
        <i class="ui icon plus"></i>
      </a>
      <div class="menu">
        <div class="item">
          <a href="/contacts/list">All</a>
        </div>
        <div class="item" th:each="list : ${simpleLists}">
          <a th:href="@{/lists/{list_id}/show(list_id=${list.id})}" th:text="${list.name}"></a>
        </div>

      </div>
    </div>

    <div class="item">
      Smart Lists
      <a th:href="@{/smartLists/new}">
        <i class="ui icon plus"></i>
      </a>
      <div class="menu">
        <div class="item" th:each="smartList : ${smartLists}">
          <a th:href="@{/smartLists/{smart_list_id}/show(smart_list_id=${smartList.id})}" th:text="${smartList.name}"></a>
        </div>
      </div>
    </div>

  </div>

</div>
