<html>
  <head th:include="head">
  </head>
  <body>
    <div class="ui container">
      <div class="ui message error" th:if="${error}" th:text="${error} ?: 'Something bad happened'">
        Something bad happend
      </div>
      <div class="ui grid">
        <div class="row">
          <div class="ui hidden divider"></div>
        </div>
        <div class="three wide column">
          <div th:include="menu"></div>
        </div>

        <div class="ten wide column centered">
          <form class="ui form" th:action="@{/contacts/{contactId}/update(contactId=${contact.id})}" method="POST" th:object="${contact}">
            <input type="hidden" th:field="*{id}"/>
            <div class="field">
              <div class="ui slider checkbox">
                <input type="checkbox" th:field="*{type_organization}" tabindex="0" class="hidden"/>
                <label>Organization</label>
              </div>
            </div>

            <div class="field person-name" th:style="${contact.type_organization ? 'display: none' : ''}">
              <label for="firstname">Firstname</label>
              <input type="text" th:field="*{firstname}"/>
            </div>

            <div class="field person-name" th:style="${contact.type_organization ? 'display: none' : ''}">
              <label for="lastname">Lastname</label>
              <input type="text" th:field="*{lastname}"/>
            </div>

            <div class="field org-name" th:style="${contact.type_organization ? '' : 'display: none'}">
              <label for="organization_name">Organization name</label>
              <input type="text" th:field="*{organization_name}"/>
            </div>

            <div class="field">
              <label for="notes">Notes</label>
              <textarea th:field="*{notes}"/>
            </div>

            <div class="field">
              <label for="avatar">Avatar</label>
              <input type="hidden" th:field="*{avatar_url}" value=""/>
              <div class="ui grid">
                <div class="ui row">
                  <div class="five wide column">
                    <img id="avatar-view" class="ui medium image" th:src="@{/assets/images/avatars/default.png}" style="margin-top: 42px;" data-default-src="/assets/images/avatars/default.png"/>
                  </div>
                  <div class="eleven wide column">
                    <div class="ui buttons"  style="margin-bottom: 6px">
                      <div class="ui blue button" id="male-button">Male</div>
                      <div class="or"></div>
                      <div class="ui pink button" id="female-button">Female</div>
                    </div>

                    <div class="ui tiny images" style="overflow-y: scroll; height: 200px">
                      <img class="ui image male-avatar" th:src="@{/assets/images/avatars/male/{male_index}.png(male_index=${male_index})}" th:each="male_index: ${#numbers.sequence(1, 129)}"/>
                      <img class="ui image female-avatar" th:src="@{/assets/images/avatars/female/{female_index}.png(female_index=${female_index})}" th:each="female_index: ${#numbers.sequence(1, 114)}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Addresses -->
            <div class="ui horizontal divider"/>
            <h1 class="ui" th:unless="${#arrays.isEmpty(contact.addresses)}">
              Addresses
            </h1>
            <div th:each="address,rowStat : *{addresses}">
              <div class="row fields">
                <input type="hidden" th:field="*{addresses[__${rowStat.index}__].id}"/>
                <!-- <div class="ui selection dropdown">
                  <input type="hidden" th:field="*{addresses[__${rowStat.index}__].type}"/>
                  <i class="dropdown icon"></i>
                  <div class="default text">Type</div>
                  <div class="menu">
                    <div class="item" data-value="H">Home</div>
                    <div class="item" data-value="W">Work</div>
                  </div>
                </div> -->
              </div>

              <div class="field">
                <label>Address</label>
                <div class="fields">
                  <div class="three wide field">
                    <input type="text" th:field="*{addresses[__${rowStat.index}__].unit}" placeholder="Unit"/>
                  </div>
                  <div class="thirteen wide field">
                    <input type="text" th:field="*{addresses[__${rowStat.index}__].street}" placeholder="Street"/>
                  </div>
                </div>
              </div>
              <div class="fields">
                <div class="twelve wide field">
                  <label>Locality</label>
                  <input type="text" th:field="*{addresses[__${rowStat.index}__].locality}" placeholder="Locality"/>
                </div>
                <div class="four wide field">
                  <label>Region</label>
                  <input type="text" th:field="*{addresses[__${rowStat.index}__].region_code}" placeholder="Region"/>
                </div>
              </div>
              <div class="three fields">
                <div class="field">
                  <label>Postal code</label>
                  <input type="text" th:field="*{addresses[__${rowStat.index}__].postal_code}" placeholder="Postal code"/>
                </div>
                <div class="field">
                  <label>PO box</label>
                  <input type="text" th:field="*{addresses[__${rowStat.index}__].pobox}" placeholder="PO box"/>
                </div>
                <div class="field">
                  <label>Country</label>
                  <input type="text" th:field="*{addresses[__${rowStat.index}__].country_code}" placeholder="Country"/>
                </div>
              </div>
              <div class="field">
                <label>Delivery Information</label>
                <input type="text" th:field="*{addresses[__${rowStat.index}__].delivery_info}" placeholder="Develivery information"/>
              </div>

            </div>


            <!-- Telephones -->
            <div class="ui horizontal divider"/>
            <h1 class="ui" th:unless="${#arrays.isEmpty(contact.telephones)}">
              Telephones
            </h1>
            <div class="field" th:each="tel,rowStat : *{telephones}">
              <div class="row fields">
                <input type="hidden" th:field="*{telephones[__${rowStat.index}__].id}"/>
                <div class="ui selection dropdown">
                  <input type="hidden" th:field="*{telephones[__${rowStat.index}__].type}"/>
                  <i class="dropdown icon"></i>
                  <div class="default text">Type</div>
                  <div class="menu">
                    <div class="item" data-value="H">Home</div>
                    <div class="item" data-value="W">Work</div>
                  </div>
                </div>

                <input type="text" th:field="*{telephones[__${rowStat.index}__].number}"/>
              </div>
            </div>

            <!-- Emails -->
            <div class="ui horizontal divider"/>

            <h1 class="ui" th:unless="${#arrays.isEmpty(contact.emails)}">
              Emails
            </h1>
            <div class="field" th:each="email,rowStat : *{emails}">
              <div class="row fields">
                <input type="hidden" th:field="*{emails[__${rowStat.index}__].id}"/>
                <div class="ui selection dropdown">
                  <input type="hidden" th:field="*{emails[__${rowStat.index}__].type}"/>
                  <i class="dropdown icon"></i>
                  <div class="default text">Type</div>
                  <div class="menu">
                    <div class="item" data-value="H">Home</div>
                    <div class="item" data-value="W">Work</div>
                  </div>
                </div>

                <input type="text" th:field="*{emails[__${rowStat.index}__].address}"/>
              </div>
            </div>

            <!-- Relations -->
            <div class="ui horizontal divider"/>

            <h1 class="ui" th:unless="${#arrays.isEmpty(contact.relations)}">
              Relations
            </h1>

            <div class="field" th:each="relation,rowStat : *{relations}">
              <input type="hidden" th:field="*{relations[__${rowStat.index}__].id}"/>
              <div class="ui equal width grid">
                <div class="column">
                  <div class="ui fluid search selection dropdown">
                    <input type="hidden" th:field="*{relations[__${rowStat.index}__].other.id}"/>
                    <i class="dropdown icon"></i>
                    <input class="search" th:if="${relation.id != null}" th:value="${contact.type_organization ? contact.firstname + ' ' + contact.lastname : contact.organization_name}"/>
                    <div class="default text" th:if="${relation.id == null}">No contact selected</div>
                    <div class="text" th:if="${relation.id != null and relation.other.type_organization}" th:text="${relation.other.organization_name}"></div>
                    <div class="text" th:if="${relation.id != null and !relation.other.type_organization}" th:text="${relation.other.firstname + ' ' + relation.other.lastname}"></div>

                    <div class="menu"></div>
                  </div>
                </div>
                <div class="column">
                  <input type="text" th:field="*{relations[__${rowStat.index}__].role}"/>
                </div>
              </div>
            </div>

            <div class="ui basic dropdown left floated default icon button">
              <i class="plus icon"/>
              <div class="menu">
                <a class="item" th:href="@{/contacts/{contactId}/edit?add={field}(contactId=${contact.id}, field='address')}">Address</a>
                <a class="item" th:href="@{/contacts/{contactId}/edit?add={field}(contactId=${contact.id}, field='telephone')}">Telephone</a>
                <a class="item" th:href="@{/contacts/{contactId}/edit?add={field}(contactId=${contact.id}, field='email')}">Email</a>
                <a class="item" th:href="@{/contacts/{contactId}/edit?add={field}(contactId=${contact.id}, field='relation')}">Relation</a>
              </div>
            </div>

            <input class="ui button primary right floated" type="submit" value="Save"/>

          </form>
        </div>

      </div>
    </div>
    <script>
      const toggleMalePane = (show) => {
        if(show){
          $('.male-avatar').show()
          $(".female-avatar").hide()
        } else {
          $('.male-avatar').hide()
          $(".female-avatar").show()
        }
      }
      const selectAvatar = ({target}) => {
        const avatar_url = $(target).attr("src")
        $("[name='avatar_url']").val(avatar_url)
        $("#avatar-view").attr("src", avatar_url)
      }
      const resetAvatar = () => {
        $("[name='avatar_url']").val('')
        $("#avatar-view").attr("src", $("#avatar-view").attr("data-default-src"))

      }
      $('#male-button').click( _ => toggleMalePane(true) )
      $('#female-button').click( _ => toggleMalePane(false) )
      $(".male-avatar").click( selectAvatar )
      $(".female-avatar").click( selectAvatar )
      $('#avatar-view').click(resetAvatar)

      toggleMalePane(false);

      $('.checkbox').checkbox({
        onChecked: function(){
          $('.org-name').show()
          $('.person-name').hide()
        },
        onUnchecked: function(){
          $('.org-name').hide()
          $('.person-name').show()
        }
      });
      $('.search.dropdown').dropdown({
        apiSettings: {
          url: '/api/contacts/search?query={query}'
        },
        saveRemoteData: false,
        cache: false,
        fields: {
          name  : 'name', // displayed dropdown
          value : 'id'         // actual dropdown value
        },
        filterRemoteData: false
        // localSearch: false,
      });
      $('.dropdown:not(.search)').dropdown();

    </script>
  </body>
</html>
