<html>
  <head th:include="head">
  </head>
  <body>
    <div class="ui container">
      <div class="ui grid">
        <div class="row">
          <div class="ui hidden divider"></div>
        </div>
        <div class="three wide column">
          <div th:include="menu"></div>
        </div>

        <div class="ten wide column centered">


          <h1 th:unless="${contact.type_organization}">
            <img th:with="url=${#strings.defaultString(contact.avatar_url, '/assets/images/avatars/default.png')}" th:src="@{${url}}" style="width:50px; height:50px"/>
            <span th:text="${contact.firstname}"></span>
            <span th:text="${contact.lastname}"></span>
            <div class="detail" th:text="${contact.organization_name}" th:unless="${#strings.isEmpty(contact.organization_name)}"></div>
          </h1>
          <h1 th:if="${contact.type_organization}">
            <div class="detail" th:text="${contact.organization_name}"></div>
          </h1>

          <div class="ui comments">
            <div class="comment">
              <div class="content">
                <div class="text" th:text="${contact.notes}"></div>
              </div>
            </div>
          </div>

          <div class="ui row">
            <h1 th:unless="${#arrays.isEmpty(contact.addresses)}">Addresses</h1>
            <address th:each="address : ${contact.addresses}">
              <span th:text="${address.type}"></span><br/>
              <span th:text="${address.unit}"></span>
              <span th:text="${address.street}"></span><br/>
              <span th:text="${address.locality}"></span>
              <span th:text="${address.region_code}"></span><br/>
              <span th:text="${address.pobox}"></span>
              <span th:text="${address.postal_code}"></span>
              <span th:text="${address.country_code}"></span><br/>
              <span th:text="${address.delivery_info}"></span>
            </address>
          </div>

          <div class="ui row">
            <h1 th:unless="${#arrays.isEmpty(contact.telephones)}">Telephones</h1>
            <div th:each="telephone : ${contact.telephones}" class="ui label">
              <span th:text="${telephone.type}"></span>
              <div class="detail" th:text="${telephone.number}"></div>
            </div>
          </div>

          <div class="ui row">
            <h1 th:unless="${#arrays.isEmpty(contact.emails)}">Emails</h1>
            <div th:each="email : ${contact.emails}" class="ui label">
              <span th:text="${email.type}"></span>
              <div class="detail" th:text="${email.address}"></div>
            </div>
          </div>

          <div class="ui row">

            <div class="ui buttons right floated">
              <a class="ui button" th:href="@{/contacts/{contactId}/edit(contactId=${contact.id})}">
                <i class="ui icon write"/>
                Modify
              </a>
            </div>
          </div>


        </div>

      </div>
    </div>
<script>
  $('.dropdown').dropdown();
</script>
  </body>
</html>
